.containerSectionLogin{
display: flex;
flex-direction: column;
align-items: center;
}

.tituloLogin{
    font-size: 2rem;
    font-family: Raleway;
    text-align: center;
}
.containerLogin{
    width: 30%;
    margin: 30px 0 80px 0;
}
.olvidoContraseña{
    margin: 10px 0;
    text-decoration: none;
    color: #2A7AE4;
    text-align: center;
    padding: 20px 0;
}
.olvidoContraseña:hover{
    margin: 10px 0;
    text-decoration: none;
    text-decoration: underline;
}

.crearCuenta{
    position: relative;
    top:-80px;
    width: 30%;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.btnLogin, .btnSingUP{    
    width: 100%;
    height: 60px;
    font-size: 1.2rem;
    border-color: transparent;
    color: white;
    background-color: #2A7AE4;
    margin-top: 20px;
    font-family: Raleway;
}

.btnLogin:hover, .btnSingUP:hover{
    background-color: #2407dc;
    color: white;
    transition-duration: .5s;
    cursor: pointer;
}
.btnSingUP{   
    margin-top: 40px;
}
#fullWidth{
    position: inherit;
}
.sesionFallida{
    background-color: #ffe1e8;
    height: 100px;
}
.mensajeSesionFallida{
    text-align: center;
    padding-top: 30px ;
    font-family: Raleway;
    color: red;
}

/* /////////Tabletas///////// */
@media (min-width: 700px) and (max-width: 1100px) {
    .containerLogin{
        width: 40%;
    }
    .crearCuenta{
        width: 40%;
    }
}
/* /////////Celulares///////// */
@media (max-width: 700px) {
    .containerLogin{
        width: 80%;
    }
    .crearCuenta{
        width: 80%;
    }
}