.sectionProducto {
  background-color: #f5f5f5;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.producto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}
.containerImgProducto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  width: 40%;
}
.imgProducto {
    width: 90%;
    height: 90%;
  padding-left: 40px;
  border-radius: 30px;
}

.informacion {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;

}

.nombreProducto,
.precio {
  font-family: Raleway;
  margin: 5px 0 5px 0;
}
.nombreProducto {
  font-size: 40px;
}
.descripcionProducto {
  margin-bottom: 40px;
}

.btnCompras {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  font-size: 1rem;
  border-color: transparent;
  color: white;
  background-color: #f86f03;
  padding: 10px;
  margin: 0 10px;
}
.btnCompras:hover {
  background-color: #ffa41b;
  color: white;
  transition-duration: 0.5s;
  cursor: pointer;
}
.containerBtnCompras{
  display: flex;

}


.carShop, .iconListaDeseos{
  width: 90%;
  height: 90%;
}

/* /////////Tabletas///////// */
@media (min-width: 700px) and (max-width: 1200px) {
  .containerImgProducto {
    padding-right: 10px;
    width: 100%;
  }
    .imgProducto{
      width: 100%;
      height: auto;
    }
    .informacion{
      width: 100%;
    }
    .btnCompras {
      width: 140px;
      padding: 10px;
      margin: 0 10px;
    }
}
/* /////////Celulares///////// */
@media (max-width: 700px) {
  .producto{
    flex-direction: column;
  }
  .containerImgProducto {
    padding-right: 10px;
    width: 100%;
  }
    .imgProducto{
      width: 100%;
      height: auto;
    }
    .informacion{
      width: 100%;
      padding: 0;
      margin: 20px 0;
    }
}
