
.card{
    width: 200px;
    margin: 20px 0;
    cursor: pointer;
}
.informacionCard{
    width: 90%;
}
.tituloCard,.precioCard,.vinculoCard{
    font-size: 15px;
    font-family: raleway;
    margin: 1px;
    line-height: 1.3;
    box-sizing: border-default;
}
.vinculoCard{
    text-decoration: none;
    color:#2A7AE4;
}
.vinculoCard:hover{
    text-decoration: underline;
}

.imgCard{
    width: 90%;
    height: auto;
}